<div ng-include="'partials/navbar.html'"></div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12" id="content">
      <div class="row-fluid">
        <div class="alert alert-danger" role="alert" ng-show="pageContentError.length">
          <strong>Error!</strong> {{ pageContentError }}
        </div>
        <div class="alert alert-success" role="alert" ng-show="pageContentSuccess.length">
          <strong>Success!</strong> {{ pageContentSuccess }}
        </div>
        <div class="block">
          <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">Page Content</div>
          </div>
          <div class="block-content collapse in">
            <div class="tabbable tabs-left">
              <ul class="nav nav-tabs">
                <li ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a data-toggle="tab"><i class="fa fa-calendar"></i> How To Use</a></li>
                <li ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a data-toggle="tab"><i class="fa fa-info-circle"></i> About Us</a></li>
                <li ng-class="getTabClass(3)" ng-click="setActiveTab(3)"><a data-toggle="tab"><i class="fa fa-cloud"></i> Resources Buttons</a></li>
                <li ng-class="getTabClass(4)" ng-click="setActiveTab(4)"><a data-toggle="tab"><i class="fa fa-bell"></i> Push Notifications</a></li>
                <li ng-class="getTabClass(5)" ng-click="setActiveTab(5)"><a data-toggle="tab"><i class="fa fa-envelope"></i> Email Content</a></li>
              </ul>
              <div class="tab-content">
                <div ng-class="getTabPaneClass(1)" class="content">
                  <div class="control-group">
                    <div ckeditor="options" class="ckeditor-content" ng-model="sd.content"></div>
                    <input type="hidden" ng-model="sd.page" />
                  </div>
                  <button type="button" class="btn btn-primary" ng-click="SavePageContent(sd)">SAVE</button>
                </div>
                <div ng-class="getTabPaneClass(2)" class="content">
                  <div class="control-group">
                    <div ckeditor="options" class="ckeditor-content" ng-model="au.content"></div>
                    <input type="hidden" ng-model="au.page" />
                  </div>
                  <button type="button" class="btn btn-primary" ng-click="SavePageContent(au)">SAVE</button>
                </div>
                <div ng-class="getTabPaneClass(3)" class="content">
                  <div class="control-group">
                    <label class="control-label" for="free_button">Free Button Text:</label>
                    <input type="text" class="input-xlarge" placeholder="Enter Free Button Text" ng-model="fb.content" />
                    <button type="button" class="btn btn-primary btn-content" ng-click="SavePageContent(fb)">SAVE</button>
                    <input type="hidden" ng-model="fb.page" />
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="buy_button">Buy Button Text:</label>
                    <input type="text" class="input-xlarge" placeholder="Enter Buy Button Text" ng-model="bb.content" />
                    <button type="button" class="btn btn-primary btn-content" ng-click="SavePageContent(bb)">SAVE</button>
                    <input type="hidden" ng-model="bb.page" />
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="buy_button">Resources Button Color:</label>
                    <input type="text" class="input-xlarge" placeholder="Choose Color" color-picker color-picker-model="rbc.content" ng-model="rbc.content" />
                    <button type="button" class="btn btn-primary btn-content" ng-click="SavePageContent(rbc)">SAVE</button>
                    <input type="hidden" ng-model="rbc.page" />
                  </div>
                </div>
                <div ng-class="getTabPaneClass(4)" class="content">
                  <h3>Schedule Push Notification</h3>
                  <div class="control-group">
                    <label class="control-label" for="title">Schedule Time:</label>
                    <datetimepicker class="input-xlarge" ng-model="pn.time" id="push_time" today-btn="true" minute-step="30" format="yyyy-mm-dd hh:ii:ss"></datetimepicker>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="title">Title:</label>
                    <input type="text" class="input-xlarge" placeholder="Enter Topic Title" ng-model="pn.title" />
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="link">Link:</label>
                    <input type="text" class="input-xlarge" placeholder="Enter Topic Link" ng-model="pn.link" />
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="desc">Description:</label>
                    <textarea class="input-xlarge" rows="8" placeholder="Enter Topic Title" ng-model="pn.desc"></textarea>
                  </div>
                  <div class="control-group">
                    <button type="button" class="btn btn-primary btn-content" ng-click="SchedulePushNotification(pn)">SCHEDULE</button>
                  </div>
                </div>
                <div ng-class="getTabPaneClass(5)" class="content">
                  <div class="span6">
                    <div class="control-group">
                      <h4>Consultation Email Body:</h4>
                      <div ckeditor="options" class="ckeditor-content" ng-model="ce.content"></div>
                      <input type="hidden" ng-model="ce.page" />
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="SavePageContent(ce)">SAVE</button>
                  </div>
                  <div class="span6">
                    <div class="control-group">
                      <h4>Support Email Body:</h4>
                      <div ckeditor="options" class="ckeditor-content" ng-model="se.content"></div>
                      <input type="hidden" ng-model="se.page" />
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="SavePageContent(se)">SAVE</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'partials/footer.html'"></div>
</div>
