<div ng-include="'partials/navbar.html'"></div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12" id="content">
			<div class="row-fluid">
				<div class="block">
					<div class="navbar navbar-inner block-header">
						<div class="muted pull-left">Events</div>
						<div class="pull-right">
							<button type="button" class="btn btn-primary btn-mini" data-toggle="modal" data-target="#eventModal">
								<i class="icon-plus icon-white"></i> Add Event
							</button>
						</div>
					</div>
					<div class="block-content collapse in">
						<div class="span12">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th width="5%">#</th>
										<th width="10%">Event Name</th>
										<th width="25%">Description</th>
										<th width="10%">Event Venue</th>
										<th width="10%">Event Time</th>
										<th width="10%">Event Price</th>
										<th width="10%">Event Link</th>
										<th width="10%">Created On</th>
										<th width="10%">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="event in eventList">
										<td>{{ event.Event_ID }}</td>
										<td>{{ event.Event_Name }}</td>
										<td>{{ event.Event_Desc }}</td>
										<td>{{ event.Event_Venue }}</td>
										<td>{{ event.Event_Time }}</td>
										<td>{{ event.Event_Price }}</td>
										<td>{{ event.Event_Link }}</td>
										<td>{{ event.CreateOn }}</td>
										<td>
											<button type="button" class="btn btn-success btn-mini" ng-click="OpenModalForEdit(event.Event_ID)">
												<i class="icon-edit icon-white"></i>
											</button>
											<button type="button" class="btn btn-danger btn-mini" ng-click="TrashEvent(event.Event_ID)">
												<i class="icon-trash icon-white"></i>
											</button>
										</td>
									</tr>
									<tr ng-hide="eventList.length">
										<td colspan="9">{{ eventListError }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-include="'partials/footer.html'"></div>
</div>

<div class="modal hide" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form class="form-horizontal">
				<div class="modal-header">
					<h3>{{ EventModalTitle }}</h3>
				</div>
				<div class="modal-body">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="event_name">Event Name<font color="red">*</font></label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="event_name" ng-model="Name" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="event_desc">Description<font color="red">*</font></label>
							<div class="controls">
								<textarea class="input-xlarge textarea" rows="8" id="event_desc" ng-model="Desc"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="event_venue">Event Venue<font color="red">*</font></label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="event_venue" ng-model="Venue" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="event_time">Event Time<font color="red">*</font></label>
							<div class="controls">
								<datetimepicker class="input-xlarge" ng-model="Time" id="event_time" today-btn="true" minute-step="30" format="mm/dd/yyyy HH:ii P"></datetimepicker>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="event_price">Event Price</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="event_price" ng-model="Price" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="event_link">Event Link<font color="red">*</font></label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="event_link" ng-model="Link" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="button_text">Button Text</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="button_text" ng-model="ButtonText" />
							</div>
						</div>
						<div class="form-actions">
							<input type="hidden" ng-model="EventID" />
							<button type="button" ng-click="CreateEditEvent()" class="btn btn-primary">{{ EventBtn }}</button>
							<button type="button" ng-click="ClearForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<p ng-show="eventError.length" class="error">{{ eventError }}</p>
							<p ng-show="eventSuccess.length" class="success">{{ eventSuccess }}</p>
						</div>
					</fieldset>
				</div>
			</form>
		</div>
	</div>
</div>
