<div id="login">
  <div class="container">
    <form class="form-signin" id="LoginForm" ng-submit="LoginProcess(signin);">
      <h2 class="form-signin-heading">Please sign in</h2>
      <input type="email" class="input-block-level" placeholder="Email address" ng-model="signin.username" />
      <input type="password" class="input-block-level" placeholder="Password" ng-model="signin.password" />
      <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>
  </div>
</div>
