<div ng-include="'partials/navbar.html'"></div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12" id="content">
			<div class="row-fluid">
				<div class="span6">
					<div class="block">
						<div class="navbar navbar-inner block-header">
							<div class="muted pull-left">Videos</div>
							<div class="pull-right">
								<button type="button" class="btn btn-primary btn-mini" data-toggle="modal" data-target="#videoModal">
									<i class="icon-upload icon-white"></i> Upload Video
								</button>
							</div>
						</div>
						<div class="block-content collapse in">
							<div class="span12">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th width="5%">#</th>
											<th width="25%">Video Title</th>
											<th width="35%">Description</th>
											<th width="20%">Uploaded On</th>
											<th width="15%">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="video in videoList">
											<td>{{ video.Video_ID }}</td>
											<td>{{ video.Video_Title }}</td>
											<td>{{ video.Video_Desc }}</td>
											<td>{{ video.Video_UploadOn }}</td>
											<td>
												<button type="button" class="btn btn-success btn-mini" ng-click="OpenVideoModalForEdit(video.Video_ID)">
													<i class="icon-edit icon-white"></i>
												</button>
												<button type="button" class="btn btn-danger btn-mini" ng-click="TrashVideo(video.Video_ID)">
													<i class="icon-trash icon-white"></i>
												</button>
											</td>
										</tr>
										<tr ng-hide="videoList.length">
											<td colspan="5">{{ videoListError }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="span6">
					<div class="block">
						<div class="navbar navbar-inner block-header">
							<div class="muted pull-left">Audios</div>
							<div class="pull-right">
								<button type="button" class="btn btn-primary btn-mini" data-toggle="modal" data-target="#audioModal">
									<i class="icon-upload icon-white"></i> Upload Audio
								</button>
							</div>
						</div>
						<div class="block-content collapse in">
							<div class="span12">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th width="5%">#</th>
											<th width="25%">Audio Title</th>
											<th width="35%">Description</th>
											<th width="20%">Uploaded On</th>
											<th width="15%">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="audio in audioList">
											<td>{{ audio.Audio_ID }}</td>
											<td>{{ audio.Audio_Title }}</td>
											<td>{{ audio.Audio_Desc }}</td>
											<td>{{ audio.Audio_UploadOn }}</td>
											<td>
												<button type="button" class="btn btn-success btn-mini" ng-click="OpenAudioModalForEdit(audio.Audio_ID)">
													<i class="icon-edit icon-white"></i>
												</button>
												<button type="button" class="btn btn-danger btn-mini" ng-click="TrashAudio(audio.Audio_ID)">
													<i class="icon-trash icon-white"></i>
												</button>
											</td>
										</tr>
										<tr ng-hide="audioList.length">
											<td colspan="5">{{ audioListError }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-include="'partials/footer.html'"></div>
</div>

<div class="modal hide" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form class="form-horizontal">
				<div class="modal-header">
					<h3>{{ VideoModalTitle }}</h3>
				</div>
				<div class="modal-body">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="video_title">Video Title<font color="red">*</font></label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="video_title" ng-model="videoTitle" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="choose_video">Choose Video<font color="red">*</font></label>
							<div class="controls">
								<input type="file" class="input-file" id="choose_video" file-input="videoFile" accept="video/mp4" />
								<p class="help-block">Only MP4 format is allowed.</p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="video_desc">Description<font color="red">*</font></label>
							<div class="controls">
								<textarea class="input-xlarge textarea" rows="8" id="video_desc" ng-model="videoDesc"></textarea>
							</div>
						</div>
						<div class="form-actions">
							<input type="hidden" ng-model="videoId" />
							<button type="button" ng-click="UploadVideo()" class="btn btn-primary">{{ UploadBtn }}</button>
							<button type="button" ng-click="ClearForm()" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<p ng-show="videoError.length" class="error">{{ videoError }}</p>
							<p ng-show="videoSuccess.length" class="success">{{ videoSuccess }}</p>
						</div>
					</fieldset>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal hide" id="audioModal" tabindex="-1" role="dialog" aria-labelledby="audioModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form class="form-horizontal">
				<div class="modal-header">
					<h3>{{ AudioModalTitle }}</h3>
				</div>
				<div class="modal-body">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="audio_title">Audio Title<font color="red">*</font></label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="audio_title" ng-model="audioTitle" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="choose_audio">Choose Audio<font color="red">*</font></label>
							<div class="controls">
								<input type="file" class="input-file" id="choose_audio" file-input="audioFile" accept="audio/mpeg" />
								<p class="help-block">Only MP3 format is allowed.</p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="audio_desc">Description<font color="red">*</font></label>
							<div class="controls">
								<textarea class="input-xlarge textarea" rows="8" id="audio_desc" ng-model="audioDesc"></textarea>
							</div>
						</div>
						<div class="form-actions">
							<input type="hidden" ng-model="audioId" />
							<button type="button" ng-click="UploadAudio()" class="btn btn-primary">{{ UploadBtn }}</button>
							<button type="button" ng-click="ClearForm()" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<p ng-show="audioError.length" class="error">{{ audioError }}</p>
							<p ng-show="audioSuccess.length" class="success">{{ audioSuccess }}</p>
						</div>
					</fieldset>
				</div>
			</form>
		</div>
	</div>
</div>
