<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid" ng-controller="MenuCtrl">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#/">Speed Dial</a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li>
            <a ng-click="logout()" role="button"><i class="icon-off"></i> Logout</a>
          </li>
        </ul>
        <ul class="nav">
          <li ng-repeat="menu in menus" ng-class="{'active': menu.href == states.activeItem}">
            <a ng-click="menuClick(menu.href)">{{menu.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
