<div ng-include="'partials/navbar.html'"></div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12" id="content">
			<div class="row-fluid">
				<div class="block">
					<div class="navbar navbar-inner block-header">
						<div class="muted pull-left">Products</div>
						<div class="pull-right">
							<button type="button" class="btn btn-primary btn-mini" data-toggle="modal" data-target="#productModal">
								<i class="icon-plus icon-white"></i> Add Product
							</button>
						</div>
					</div>
					<div class="block-content collapse in">
						<div class="span12">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th width="5%">#</th>
										<th width="15%">Product Name</th>
										<th width="30%">Description</th>
										<th width="10%">Product Price</th>
										<th width="10%">Special Price</th>
										<th width="10%">Buy Link</th>
										<th width="10%">Created On</th>
										<th width="10%">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in productList">
										<td>{{ item.Product_ID }}</td>
										<td>{{ item.Product_Name }}</td>
										<td>{{ item.Product_Desc }}</td>
										<td>{{ item.Product_Price }}</td>
										<td>{{ item.Product_Spl_Price }}</td>
										<td>{{ item.Product_Link }}</td>
										<td>{{ item.CreateOn }}</td>
										<td>
											<button type="button" class="btn btn-success btn-mini" ng-click="OpenModalForEdit(item.Product_ID)">
												<i class="icon-edit icon-white"></i>
											</button>
											<button type="button" class="btn btn-danger btn-mini" ng-click="TrashProduct(item.Product_ID)">
												<i class="icon-trash icon-white"></i>
											</button>
										</td>
									</tr>
									<tr ng-hide="productList.length">
										<td colspan="8">{{ productListError }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-include="'partials/footer.html'"></div>
</div>

<div class="modal hide" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form class="form-horizontal">
				<div class="modal-header">
					<h3>{{ ProductModalTitle }}</h3>
				</div>
				<div class="modal-body">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="product_name">Product Name<font color="red">*</font></label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="product_name" ng-model="Name" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="product_price">Product Price</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="product_price" ng-model="Price" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="product_spl_price">Special Price</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="product_spl_price" ng-model="SplPrice" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="product_desc">Description<font color="red">*</font></label>
							<div class="controls">
								<textarea class="input-xlarge textarea" rows="8" id="product_desc" ng-model="Desc"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="product_link">Buy Link<font color="red">*</font></label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="product_link" ng-model="Link" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="button_text">Button Text</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="button_text" ng-model="ButtonText" />
							</div>
						</div>
						<div class="form-actions">
							<input type="hidden" ng-model="ProductID" />
							<button type="button" ng-click="CreateEditProduct()" class="btn btn-primary">{{ ProductBtn }}</button>
							<button type="button" ng-click="ClearForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<p ng-show="productError.length" class="error">{{ productError }}</p>
							<p ng-show="productSuccess.length" class="success">{{ productSuccess }}</p>
						</div>
					</fieldset>
				</div>
			</form>
		</div>
	</div>
</div>
