<div ng-include="'partials/navbar.html'"></div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12" id="content">
			<div class="row-fluid">
				<div class="span6">
					<div class="block">
						<div class="navbar navbar-inner block-header">
							<div class="muted pull-left">Supports</div>
							<div class="pull-right">
								<button type="button" class="btn btn-primary btn-mini" data-toggle="modal" data-target="#supportEmailModal">
									<i class="icon-cog icon-white"></i> Update Support Email
								</button>
							</div>
						</div>
						<div class="block-content collapse in">
							<div class="span12">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th width="5%">#</th>
											<th width="25%">Query</th>
											<th width="20%">User</th>
											<th width="35%">Request On</th>
											<th width="15%">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="helpItem in helpList">
											<td>{{ helpItem.Support_ID }}</td>
											<td>{{ helpItem.Support_Concern }}</td>
											<td>{{ helpItem.User_FullName }}</td>
											<td>{{ helpItem.Support_CreateOn }}</td>
											<td>
												<button type="button" class="btn btn-success btn-mini" ng-click="OpenSupportModal(helpItem.Support_ID)">
													<i class="icon-envelope icon-white"></i>
												</button>
												<button type="button" class="btn btn-danger btn-mini" ng-click="TrashSupport(helpItem.Support_ID)">
													<i class="icon-trash icon-white"></i>
												</button>
											</td>
										</tr>
										<tr ng-hide="helpList.length">
											<td colspan="5">{{ helpListError }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="span6">
					<div class="block">
						<div class="navbar navbar-inner block-header">
							<div class="muted pull-left">Free Consultations</div>
							<div class="pull-right">
								<button type="button" class="btn btn-primary btn-mini" data-toggle="modal" data-target="#consultEmailModal">
									<i class="icon-cog icon-white"></i> Update Consultation Email
								</button>
								<button type="button" class="btn btn-primary btn-mini" data-toggle="modal" data-target="#consultSubjectModal">
									<i class="icon-envelope icon-white"></i> Update Consultation Subject
								</button>
							</div>
						</div>
						<div class="block-content collapse in">
							<div class="span12">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th width="5%">#</th>
											<th width="20%">Subject</th>
											<th width="30%">Query</th>
											<th width="15%">User</th>
											<th width="15%">Request On</th>
											<th width="15%">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="consultItem in consultList">
											<td>{{ consultItem.Con_ID }}</td>
											<td>{{ consultItem.Con_Subject }}</td>
											<td>{{ consultItem.Con_Query }}</td>
											<td>{{ consultItem.User_FullName }}</td>
											<td>{{ consultItem.Con_CreateOn }}</td>
											<td>
												<button type="button" class="btn btn-success btn-mini" ng-click="OpenConsultModal(consultItem.Con_ID)">
													<i class="icon-envelope icon-white"></i>
												</button>
												<button type="button" class="btn btn-danger btn-mini" ng-click="TrashConsult(consultItem.Con_ID)">
													<i class="icon-trash icon-white"></i>
												</button>
											</td>
										</tr>
										<tr ng-hide="consultList.length">
											<td colspan="6">{{ consultListError }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-include="'partials/footer.html'"></div>
</div>

<div class="modal hide" id="supportModal" tabindex="-1" role="dialog" aria-labelledby="supportModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form class="form-horizontal">
				<div class="modal-header">
					<h3>SUPPORT REPLY</h3>
				</div>
				<div class="modal-body">
					<fieldset>
						<div class="control-group">
							<h5>USER QUERY: </h5>
							<div class="alert alert-info" role="alert" style="margin:0">
								{{support.concern}}
							</div>
						</div>
						<div class="control-group">
							<div ckeditor="options" ng-model="support.reply"></div>
						</div>
						<div class="form-actions">
							<input type="hidden" ng-model="support.email" />
							<input type="hidden" ng-model="support.name" />
							<button type="button" ng-click="SendSupportReply(support)" class="btn btn-primary">REPLY</button>
							<button type="button" ng-click="ClearForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<p ng-show="helpError.length" class="error">{{ helpError }}</p>
							<p ng-show="helpSuccess.length" class="success">{{ helpSuccess }}</p>
						</div>
					</fieldset>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal hide" id="consultModal" tabindex="-1" role="dialog" aria-labelledby="consultModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form class="form-horizontal">
				<div class="modal-header">
					<h3>CONSULTATION REPLY</h3>
				</div>
				<div class="modal-body">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="consult_subject">Subject<font color="red">*</font></label>
							<div class="controls">
								<input type="text" class="input-xlarge" ng-model="consult.subject" readonly />
							</div>
						</div>
						<div class="control-group">
							<h5>USER QUERY: </h5>
							<div class="alert alert-info" role="alert" style="margin:0">
								{{consult.query}}
							</div>
						</div>
						<div class="control-group">
							<div ckeditor="options" ng-model="consult.reply"></div>
						</div>
						<div class="form-actions">
							<input type="hidden" ng-model="consult.email" />
							<input type="hidden" ng-model="consult.name" />
							<button type="button" ng-click="SendConsultReply(consult)" class="btn btn-primary">REPLY</button>
							<button type="button" ng-click="ClearForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<p ng-show="consultError.length" class="error">{{ consultError }}</p>
							<p ng-show="consultSuccess.length" class="success">{{ consultSuccess }}</p>
						</div>
					</fieldset>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal hide" id="supportEmailModal" tabindex="-1" role="dialog" aria-labelledby="supportEmailModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form class="form-horizontal">
				<div class="modal-header">
					<h3>UPDATE SUPPORT EMAIL</h3>
				</div>
				<div class="modal-body">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="support_email">Email<font color="red">*</font></label>
							<input type="email" ng-model="se.content" class="input-xlarge" />
							<input type="hidden" ng-model="se.page" />
						</div>
						<div class="form-actions">
							<button type="button" ng-click="SavePageContent(se)" class="btn btn-primary">UPDATE</button>
							<button type="button" class="btn btn-secondary" ng-click="ClearForm()" data-dismiss="modal">Close</button>
							<p ng-show="emailError.length" class="error">{{ emailError }}</p>
							<p ng-show="emailSuccess.length" class="success">{{ emailSuccess }}</p>
						</div>
					</fieldset>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal hide" id="consultEmailModal" tabindex="-1" role="dialog" aria-labelledby="consultEmailModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form class="form-horizontal">
				<div class="modal-header">
					<h3>UPDATE CONSULTATION EMAIL</h3>
				</div>
				<div class="modal-body">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="consult_email">Email<font color="red">*</font></label>
							<input type="email" ng-model="ce.content" class="input-xlarge" />
							<input type="hidden" ng-model="ce.page" />
						</div>
						<div class="form-actions">
							<button type="button" ng-click="SavePageContent(ce)" class="btn btn-primary">UPDATE</button>
							<button type="button" class="btn btn-secondary" ng-click="ClearForm()" data-dismiss="modal">Close</button>
							<p ng-show="emailError.length" class="error">{{ emailError }}</p>
							<p ng-show="emailSuccess.length" class="success">{{ emailSuccess }}</p>
						</div>
					</fieldset>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal hide" id="consultSubjectModal" tabindex="-1" role="dialog" aria-labelledby="consultSubjectModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form class="form-horizontal">
				<div class="modal-header">
					<h3>UPDATE CONSULTATION SUBJECT</h3>
				</div>
				<div class="modal-body">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="consult_subject">Subject<font color="red">*</font></label>
							<input type="text" ng-model="cs.content" class="input-xlarge" />
							<input type="hidden" ng-model="cs.page" />
						</div>
						<div class="form-actions">
							<button type="button" ng-click="SavePageContent(cs)" class="btn btn-primary">UPDATE</button>
							<button type="button" class="btn btn-secondary" ng-click="ClearForm()" data-dismiss="modal">Close</button>
							<p ng-show="emailError.length" class="error">{{ emailError }}</p>
							<p ng-show="emailSuccess.length" class="success">{{ emailSuccess }}</p>
						</div>
					</fieldset>
				</div>
			</form>
		</div>
	</div>
</div>
