<div ng-include="'partials/navbar.html'"></div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12" id="content">
      <div class="row-fluid">
        <div class="block quickStats">
          <div class="block-content collapse in">
            <div class="span5">
              <div class="row-fluid">
                <div class="span8"><strong>Total No. Of Users: </strong></div>
                <div class="span4"><div class="text-right"><span class="badge badge-success">{{ UsersCount }}</span></div></div>
              </div>
              <div class="row-fluid">
                <div class="span8"><strong>Total Registration In Last 7 Days: </strong></div>
                <div class="span4"><div class="text-right"><span class="badge badge-success">{{ UsersLast7Days }}</span></div></div>
              </div>
            </div>
            <div class="span2"></div>
            <div class="span5">
              <div class="row-fluid">
                <div class="span8"><strong>Monthly Active Users: </strong></div>
                <div class="span4"><div class="text-right"><span class="badge badge-success">{{ MonthlyActiveUsers }}</span></div></div>
              </div>
              <div class="row-fluid">
                <div class="span8"><strong>Avg. Time Spent Per Session (Seconds): </strong></div>
                <div class="span4"><div class="text-right"><span class="badge badge-success">{{ AVGTimeSpent }}</span></div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="navbar navbar-inner block-header">
            <div class="span3">
              <!--<select class="form-control" ng-model="productFilter" ng-change="userFilter(productFilter, 'product')">-->
              <!--          <option value="">---Product Filter---</option>-->
              <!--          <option ng-repeat="product in productList" value="{{ product.Product_ID }}">{{ product.Product_Name }}</option>-->
              <!--      </select>-->
            </div>
            <div class="span3">
              <!--<select class="form-control" ng-model="eventFilter" ng-change="userFilter(eventFilter, 'event')">-->
              <!--          <option value="">---Event Filter---</option>-->
              <!--          <option ng-repeat="event in eventList" value="{{ event.Event_ID }}">{{ event.Event_Name }}</option>-->
              <!--      </select>-->
            </div>
            <div class="span3">
              <select class="form-control" ng-model="logFilter" ng-change="userFilter(logFilter, 'login')">
                <option value="">---Average Login Filter---</option>
                <option value="1">Less than 99 Seconds</option>
                <option value="2">Between 100 - 199 Seconds</option>
                <option value="3">Between 200 - 499 Seconds</option>
                <option value="4">Between 500 - 999 Seconds</option>
                <option value="5">Greater than 1000 Seconds</option>
              </select>
            </div>
            <div class="span2 text-right">
              <button type="button" class="btn btn-primary" ng-click="userFilter('ios', 'device')"><i class="fa fa-apple"></i> iOS</button>
              <button type="button" class="btn btn-primary" ng-click="userFilter('android', 'device')"><i class="fa fa-android"></i> Android</button>
            </div>
            <div class="span1 text-right">
              <button type="button" ng-click="clearFilter()" ng-if="filterOn"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <div class="block-content collapse in">
            <div class="span12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Last Login</th>
                    <th>Avg. Login Time/Month</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="user in userList">
                    <td>{{ user.User_ID }}</td>
                    <td>{{ user.User_FullName }}</td>
                    <td>{{ user.User_Email }}</td>
                    <td>{{ user.User_LastLogin }}</td>
                    <td>{{ user.AvgLogTime }} Seconds</td>
                  </tr>
                  <tr ng-hide="userList.length">
                    <td class="text-center" colspan="7">{{ userListError }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'partials/footer.html'"></div>
</div>
