.modal{
    bottom: 10%;
    overflow-y: auto;
}
.modal.left .modal-dialog,
.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	width: 420px;
	height: 100%;
}
.modal.left .modal-content,
.modal.right .modal-content {
	height: 100%;
	/*overflow-y: auto;*/
}
.modal.left .modal-body,
.modal.right .modal-body {
	padding: 15px;
}
.modal-content {
	border-radius: 0;
	border: none;
}

.modal.left .modal-dialog {
	left: 0;
	-webkit-transform: translate3d(-100%, 0, 0);
	    -ms-transform: translate3d(-100%, 0, 0);
	     -o-transform: translate3d(-100%, 0, 0);
	        transform: translate3d(-100%, 0, 0);
}
.modal.right .modal-dialog {
	right: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	    -ms-transform: translate3d(100%, 0, 0);
	     -o-transform: translate3d(100%, 0, 0);
	        transform: translate3d(100%, 0, 0);
}
.modal.left .modal-dialog,
.modal.right .modal-dialog {
	-webkit-transition: transform 0.3s cubic-bezier(0, 0.8, 0.4, 1);
	   -moz-transition: transform 0.3s cubic-bezier(0, 0.8, 0.4, 1);
	     -o-transition: transform 0.3s cubic-bezier(0, 0.8, 0.4, 1);
	        transition: transform 0.3s cubic-bezier(0, 0.8, 0.4, 1);
}

.modal.left.show .modal-dialog,
.modal.right.show .modal-dialog {
	-webkit-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	     -o-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}