/** Home Page **/
body{
  padding-top: 0;
  padding-bottom: 40px;
  background-color: #f5f5f5
}
@media (min-width: 979px){
  body{
    padding-top: 60px;
  }
}

/** Login Page **/
#login{
  padding-top: 40px;
  padding-bottom: 40px
}
#login .form-signin{
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05)
}
#login .form-signin .form-signin-heading,
#login .form-signin .checkbox{
  margin-bottom: 10px
}
#login .form-signin input[type="email"],
#login .form-signin input[type="password"]{
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px
}

/** 2 level sub menu **/
.dropdown-menu-with-subs .sub-menu{
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px
}
.dropdown-menu-with-subs li:hover .sub-menu{
  visibility: visible;
  display: block
}
.navbar a{
  cursor: pointer
}
.navbar .sub-menu:before{
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px
}
.navbar .sub-menu:after{
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px
}
.modal-body{
  max-height: 100%
}

/** Global **/
#content{
  margin-left:0px;
  min-height: 45rem
}
.hide-sidebar, .show-sidebar{
  cursor: pointer
}
.padd-bottom{
  margin-bottom: 5px
}
.breadcrumb{
  margin: 0 0 0px;
  padding: 10px 0px;
  background-color: transparent
}
.block{
  border: 1px solid #ccc;
  background: white;
  margin: 1em 0em;
  border-top: none
}
.block-content{
  margin: 1em;
  min-height: .25em
}
.block-header{
  margin-bottom: 0px;
  border-right: none;
  border-left: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px
}
.block-header div{
  padding-top: 10px
}
.block-header strong{
  padding-top: 5px;
  display: inline-block
}
.block-header .btn{
  margin-top: 0
}
.easyPieChart{
  margin: 0px auto
}
.chart-bottom-heading{
  margin-top: 5px;
  text-align: center
}

/** Side Bar **/
.bs-docs-sidenav{
  max-width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
  box-shadow: 0 1px 4px rgba(0,0,0,.065)
}
.bs-docs-sidenav > li > a{
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5
}
.bs-docs-sidenav > li:first-child > a{
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0
}
.bs-docs-sidenav > li:last-child > a{
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px
}
.bs-docs-sidenav > .active > a{
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
  -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
  box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1)
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right{
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25
}
.bs-docs-sidenav > li > a:hover{
  background-color: #f5f5f5
}
.bs-docs-sidenav a:hover .icon-chevron-right{
  opacity: .5
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right{
  opacity: 1
}
.bs-docs-sidenav.affix{
  top: 40px
}
.bs-docs-sidenav.affix-bottom{
  position: absolute;
  top: auto;
  bottom: 270px
}

/* Icons
------------------------- */
.the-icons{
  margin-left: 0;
  list-style: none
}
.the-icons li{
  float: left;
  width: 25%;
  line-height: 25px
}
.the-icons i:hover{
  background-color: rgba(255,0,0,.25)
}
.control-label .required{
  color: #e02222;
  font-size: 12px;
  padding-left: 2px
}
.quickStats{
  border-top: 1px solid #d4d4d4;
  line-height: 2
}
.modal form{
  margin-bottom: 0
}
.modal .form-horizontal .control-label{
  width: 110px
}
.modal .form-horizontal .controls{
  margin-left: 130px
}
.modal .form-horizontal .form-actions{
  padding-left: 130px;
  margin-bottom: 0
}
.modal .form-horizontal .form-actions p{
  margin: 15px 0 0
}
.modal .form-horizontal .form-actions p.error{
  color: #800
}
.modal .form-horizontal .form-actions p.success{
  color: #080
}
.tabbable.tabs-left{
  min-height: 500px
}
.tabs-left > .nav-tabs{
  position: absolute;
  width: 20%;
  height: 100%
}
.tabs-left > .nav-tabs > li > a{
  cursor: pointer;
  font-size: 1.25em
}
.tabs-left > .tab-content{
  margin-left: 22%
}
.btn-content{
  margin-bottom: 10px
}
.ckeditor-content{
  height: 500px;
}

/* Absolute Center Spinner */
.loading{
  position: fixed;
  z-index: 9999999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

/* Transparent Overlay */
.loading:before{
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3)
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required){
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0
}
.loading:not(:required):after{
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0
}

/* Animation */
@-webkit-keyframes spinner{
  0%{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner{
  0%{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner{
  0%{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner{
  0%{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#supportEmailModal,
#consultEmailModal,
#consultSubjectModal{
    height: 30%;
}